@{
    ViewBag.Title = "Test 3";
}
<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("ObtenerRespuestaApi", "Home", FormMethod.Post))
{
    <select name="selectedItem" class="form-control">
        <option value="">String vacío</option>
        <option value="E-U10-UNILATIN">E-U10-UNILATIN</option>
        <option value="E-U10-DSCVCOVE">E-U10-DSCVCOVE</option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
}

@if (!string.IsNullOrEmpty(ViewBag.ResultadpApi))
{
    <div>
        <p>Resultado de la API:</p>
        <p>@Html.Raw(ViewBag.ResultadpApi)</p>
    </div>
}